<h1 class="orders">Orders</h1>

<table class="table table-striped container">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Product IDs</th>
      <th>Total Amount</th>
      <th>Shipping Address</th>
      <th>Payment Method</th>
      <th>Order Date</th>
    </tr>
  </thead>
  <tbody>
    <% orders.forEach(order => { %>
    <tr>
      <td><%= order.userId._id %></td>
      <td>
        <% if (order.products && Array.isArray(order.products)) { %> <%
        order.products.forEach(function(product) { %> <%= product.productId
        %><br />
        <% }); %> <% } else { %> No product IDs found <% } %>
      </td>
      <td><%= order.totalAmount %></td>
      <td>
        <%= order.shippingAddress.addressLine1 %>, <%=
        order.shippingAddress.city %>
      </td>
      <td><%= order.paymentMethod %></td>
      <td><%= order.orderDate %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
